:root {
  --clr-primary: hsl(193, 38%, 86%);
  --clr-primary-Neon-green: hsl(150, 100%, 66%);
  --clr-Grayish-Blue: hsl(217, 19%, 38%);
  --clr-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --clr-Dark-Blue: hsl(218, 23%, 16%);
  --clr-white: #fff;
  --transition: all 0.5s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  background: var(--clr-Dark-Blue);
}

.advice-main {
  width: 80vw;
  height: 100vw;
  padding: 2rem 1rem 0 1rem;
  background: var(--clr-Dark-Grayish-Blue);
  border-radius: var(--radius);
  position: relative;
  bottom: 20px;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

article {
  position: relative;
  bottom: 1.8rem;
  padding: 2rem 0.5rem;
  margin: 0 auto;
}

.section-title {
  padding: 20px;
  font-size: 2rem;
  color: var(--clr-primary-Neon-green);
  text-align: center;
  font-weight: 500;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  position: relative;
  bottom: 15px;
}

.advice {
  max-width: 35rem;
  font-weight: 800;
  letter-spacing: var(--spacing);
  color: var(--clr-primary);
  letter-spacing: 0.08rem;
  margin-bottom: 2rem;
  position: relative;
}
.divider {
  position: absolute;
  margin: 1.5rem auto;
}
img.pattern {
  width: 60vw;
}

btn {
  font-size: 1rem;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 0px 2px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: var(--clr-primary-Neon-green);
  transition: var(--transition);
  color: var(--clr-primary-Neon-green);
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
}
img.dice {
  width: 35%;
  position: relative;
  bottom: 0.5rem;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 0 60px 5px #48abe0;
}

footer {
  position: relative;

  color: var(--clr-primary-Neon-green);
  font-size: 0.825rem;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .container {
    width: 100vw;
    height: 130vw;
  }
  .advice-main {
    width: 80%;
    height: 200px;
    top: 20px;
    height: 70vw;
    margin: 0 auto;
  }
  .section-title {
    font-size: 0.675rem;
  }
  .advice {
    font-size: 1.2rem;
  }
  .divider {
    width: 50%;
    top: 175px;
    left: 3.45rem;
    height: 2rem;
  }
  img.pattern {
    width: 50vw;
    left: 20px;
  }

  btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }
  footer {
    top: 12rem;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 80%;
    padding: 8rem 2rem 17rem 2rem;
  }
  .advice-main {
    width: 60%;
    height: 45vw;
    padding: 3rem 1rem 0 1rem;
    top: 50px;
    right: 5px;
    margin: 0 auto;
  }
  .advice {
    bottom: 2.5rem;
  }

  .section-title {
    font-size: 0.875rem;
  }
  .advice {
    font-size: 28px;
  }
  .divider {
    max-width: 0%;
    top: 230px;
    left: 1.2rem;
    height: 2rem;
  }

  btn {
    font-size: 0.5rem;
    width: 20%;
    height: 5rem;
  }
  img.dice {
    width: 35%;
  }
  footer {
    top: 17rem;
    font-size: 0.875rem;
  }
}
