:root {
  --clr-primary: hsl(193, 38%, 86%);
  --clr-primary-Neon-green: hsl(150, 100%, 66%);
  --clr-Grayish-Blue: hsl(217, 19%, 38%);
  --clr-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --clr-Dark-Blue: hsl(218, 23%, 16%);
  --clr-white: #fff;
  --transition: all 0.5s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  background: var(--clr-Dark-Blue);
 
}

.card-advice {
  background: var(--clr-Dark-Grayish-Blue);
  border-radius: var(--radius);
  align-items: center;
}

.cell-title {
  padding: 3rem 0 1rem 0;
  font-size: 0.7rem;
  color: var(--clr-primary-Neon-green);
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}

.cell-advice {
  max-width: 25rem;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0 auto;
  padding: 1rem 3rem 3rem 3rem;
  text-align: center;
  letter-spacing: var(--spacing);
  color: var(--clr-primary);
  letter-spacing: 0.08rem;
}

.cell-divider {
  max-width: 60vw;
  margin: 0 auto;
  text-align: center;
}
img.pattern {
  max-width: 60vw;
  align-items: center;
}
.cell-button {
  display: grid;
  min-width: 1.7vw;
  max-width: 6vw;
  height: 4vh;
  text-align: center;
  margin: 0.5rem auto;
  position: relative;
  top: 1.5rem;
}

btn {
  border-radius: 50%;
  background: var(--clr-primary-Neon-green);
  transition: var(--transition);
  color: var(--clr-primary-Neon-green);
}
img.dice {
  margin-top: 0.5rem;
  width: 3.5vw;
  height: 2vh;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 0 60px 5px #48abe0;
  transform: rotate(360deg);
}

footer {
  position: relative;
  bottom: -150px;
  background-color: var(--clr-Dark-Blue);
  color: var(--clr-primary-Neon-green);
  font-size: 0.625rem;
  text-align: center;
}
a {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .app-container {
    width: 100vw;
    height: 70vh;
  }
  .card-advice {
    max-width: 30vw;
    max-height: 60vh;
    margin: 0 auto;
  }
  .cell-title {
    max-width: 30rem;
    font-size: 16px;
    padding-bottom: 0.5rem;
  }
  .cell-advice {
    font-size: 28px;
    max-width: 35rem;
    padding: 1rem 2rem 2rem;
  }
  .cell-divider {
    margin: 0px auto;
  }
  img.pattern {
    max-width: 80%;
  }

  .cell-btn {
    max-width: 3vw;
  }
  btn {
    width: 3vw;
    height: 5.5vh;
    margin: 0 auto;
    position: relative;
  }
  img.dice {
    margin-top: 0.6rem;
    max-width: 1.5vw;
    height: 2.5vh;
  }
}
