:root {
  --clr-primary: hsl(193, 38%, 86%);
  --clr-primary-Neon-green: hsl(150, 100%, 66%);
  --clr-Grayish-Blue: hsl(217, 19%, 38%);
  --clr-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --clr-Dark-Blue: hsl(218, 23%, 16%);
  --clr-white: #fff;
  --transition: all 0.5s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  background: var(--clr-Dark-Blue);
}

.advice-main {
  width: 80vw;
  height: 100vw;
  padding: 2rem 1rem 0 1rem;
  background: var(--clr-Dark-Grayish-Blue);
  border-radius: var(--radius);
  position: relative;
  top: 70px;
  bottom: 20px;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

article {
  position: relative;
  bottom: 1.8rem;
  padding: 2rem 0.5rem;
  margin: 0 auto;
}

.section-title {
  padding: 20px;
  font-size: 0.875rem;
  color: var(--clr-primary-Neon-green);
  text-align: center;
  font-weight: 500;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  position: relative;
  bottom: 15px;
}

.advice {
  max-width: 35rem;
  font-weight: 800;
  letter-spacing: var(--spacing);
  color: var(--clr-primary);
  letter-spacing: 0.08rem;
  position: relative;
  bottom: 1.5rem;
  margin-bottom: 1rem;
}
.divider {
  position: relative;
  margin: 1.5rem auto;
}
img.pattern {
  width: 60vw;
}

btn {
  font-size: 1rem;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 0px 2px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: var(--clr-primary-Neon-green);
  transition: var(--transition);
  color: var(--clr-primary-Neon-green);
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
}
img.dice {
  width: 35%;
  position: relative;

}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 0 60px 5px #48abe0;
}

footer {
  position: relative;
  bottom: -150px;
  background-color: var(--clr-Dark-Blue);
  color: var(--clr-primary-Neon-green);
  font-size: 0.625rem;
  text-align: center;
}
a {
  color: var(--clr-primary);
}

@media screen and (min-width: 375px) {
  .advice-main {
    width: 90%;
    height: 60vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .section-title {
    font-size: 0.875rem;
  }
  .advice {
    font-size: 1.2rem;
  }
  .divider {
    width: 100%;
    height: 2rem;
  }
  img.pattern {
    width: 60vw;
    left: 20px;
  }

  btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }
  footer {
    bottom: -160;
    font-size: 0.375rem;
  }
}
@media screen and (min-width: 768px) {
  .advice-main {
    width: 50%;
    height: 45vw;
    padding: 3rem 2rem 0 3rem;
    top: 100px;
    margin: 0 auto;
  }
  .advice {
    bottom: 1rem;
  }

  .section-title {
    font-size: 1.2rem;
  }
  .advice {
    font-size: 28px;
  }
  .divider {
    width: 80%;
    height: 2rem;
    right: 2rem;
  }
  img.pattern {
    width: 40vw;
  }

  btn {
    font-size: 0.5rem;
    width: 20%;
    height: 4.5rem;
  }
  img.dice {
    width: 35%;
    top: 0.25rem;
  }
  footer {
    top: 150vw;
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .advice-main {
    max-width: 40%;
    height: 25vw;
    padding: 3rem 2rem 0 3rem;
    top: 120px;
    margin: 0 auto;
  }
  .advice {
    bottom: 2rem;
  }

  .section-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .advice {
    font-size: 28px;
  }
  .divider {
    width: 60%;
    height: 2rem;
    left: -1px;
    bottom: 1rem;
  }
  img.pattern {
    width: 20vw;
  }

  btn {
    font-size: 0.5rem;
    width: 12%;
    height: 4rem;
  }
  img.dice {
    width: 40%;
    top: 0.5em;
  }
  footer {
    bottom: -150px;
    font-size: 1rem;
  }
}
